apiVersion: apps/v1
kind: Deployment
metadata:
  name: dynamic-stages
  namespace: ds
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: dynamic-stages
  template:
    metadata:
      labels:
        app: dynamic-stages
    spec:
      containers:
      - name: dynamic-stages
        image: var-echo # this is possible because if configs in the image-stream
        env:
          - name: LE_ENV_VAR
            value: asdf
        ports:
        - containerPort: 8080
